<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="html(titulo, contenido)">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:replace="${titulo}">Bios Servi Tutti</title>

        <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    </head>
    <body class="body">
        <header class="cabezal-principal">
            <h1>Bios Servi Tutti</h1>
        </header>
        <nav class="navegacion-principal">
            <ul>
                <li sec:authorize="hasAuthority('administrativo')">
                    <a href="#" class="menu-principal"></a>
                    <ul>
                        <li><a th:href="@{/clientes}">Clientes</a></li>
                        <li><a th:href="@{/tecnicos}">Tecnicos</a></li>
                        <li><a th:href="@{/administrativos}">Administrativos</a></li>
                        <li><a th:href="@{/competencias}">Competencia</a></li>
                        
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('tecnico','administrativo')">
                    <a href="#" class="menu-secundario"></a>
                    <ul>
                        <li sec:authorize="hasAuthority('tecnico')">
                            <a th:href="@{/solicitudes/tecnico}">Ver Solicitudes</a>
                        </li>
                        <li sec:authorize="hasAuthority('administrativo')">
                            <a th:href="@{/solicitudes}">Ver Solicitudes</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasAuthority('cliente')">
                    <a th:href="@{/solicitudes/generar}">Realizar Solicitud</a>
                </li>
            </ul>                
            <ul>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="icono-entrar">&nbsp;&nbsp;</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="icono-salir">&nbsp;&nbsp;</a>                                                 
                </li>
            </ul>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </nav>

        <main class="contenido" th:insert="${contenido}"></main>   
        
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Contacto</h3>
                    <p>Correo electrónico: info@biosservitutti.com</p>
                    <p>Teléfono: 2456-7890</p>
                    <p>Dirección: 123 Calle Principal, Montevideo</p>
                </div>
        
                <div class="footer-section">
                    <h3>Enlaces útiles</h3>
                    <ul>
                        <li><a href="#" class="footer-link">Acerca de nosotros</a></li>
                        <li><a href="#" class="footer-link">Servicios</a></li>
                        <li><a href="#" class="footer-link">Productos</a></li>
                        <li><a href="#" class="footer-link">Blog</a></li>
                    </ul>
                    
                </div>
                <div class="footer-section">
                    <h3>Redes Sociales</h3>
                    <ul>
                        <li><a href="#" class="footer-link">Facebook</a></li>
                        <li><a href="#" class="footer-link">Twitter</a></li>
                        <li><a href="#" class="footer-link">LinkedIn</a></li>
                        <li><a href="#" class="footer-link">Instagram</a></li>
                    </ul>
                    
                </div>      
                
            </div>
        
            <div class="footer-bottom">
                &copy; 2023 SFS Servicios Informaticos. Todos los derechos reservados.
            </div>
        </footer>      
        
    </body>
</html>