<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
    <head>
        <title>Bios Servi Tutti - Contratos del Cliente</title>
    </head>
    <body th:remove="tag">
        <h1>Contratos del Cliente</h1>

        <p th:replace="~{fragmentos/parrafo-mensaje}"></p>
        
        <p th:unless="${activo}"><a th:href="@{/contratos/agregar/{nombreCliente}(nombreCliente=${nombreCliente})}" title="Agregar"><i class="icono icono-agregar"></i></a></p>

        <table class="listado">
            <tr>
                <th>NUMERO</th><th>FECHA DE FIRMA</th><th>CLIENTE</th><th>CANCELACION</th><th>OPCIONES</th>
            </tr>
            <tr th:each="c : ${contratos}">
                <td th:text="${c.numero}" class="texto-centro"></td>
                <td th:text="${c.fechaFirma}"></td>
                <td th:text="${c.cliente.nombreUsuario}"></td>
                <td><span th:if="${c.cancelacion}" th:text="${c.cancelacion.numero}"></span><span th:unless="${c.cancelacion}">CONTRATO ACTIVO</span></td>
                <td>
                    <a th:href="@{/contratos/detalle/{numeroContrato}(numeroContrato=${c.numero})}" title="Ver Detalle"><i class="icono icono-ver"></i></a>&nbsp;&nbsp;
                    <a th:unless="${c.cancelacion}" th:href="@{/contratos/cancelar/{numeroContrato}(numeroContrato=${c.numero})}" title="Cancelar Contrato"><i class="icono icono-modificar"></i></a>
                </td>
            </tr>            
        </table>

        <p>Cantidad de contratos: <span th:text="${contratos.size()}"></span></p>
        <div>
            <a th:href="@{/clientes}" title="Volver">Volver...</a>
        </div>
        <script>
            document.getElementById('formularioBusqueda').addEventListener('search', function() {
                if (!document.getElementById('criterio').value) {
                    window.location = '/contratos';
                }
            });

            document.getElementById('criterio').focus();
            document.getElementById('criterio').select();
        </script>
    </body>
</html>