<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragmentos/plantilla-maestra::html(~{::title}, ~{::body})}">
    <head>
        <title>Bios Servi Tutti - Eliminar Tecnico</title>
    </head>
    <body th:remove="tag">
        <h1>Eliminar Tecnico</h1>

        <p th:replace="~{fragmentos/parrafo-mensaje}"></p>

        <th:block th:if="${tecnico}">
            <p>¿Confirma que desea eliminar el tecnico con nombre de usuario <strong th:text="${tecnico.nombreUsuario}"></strong> (<span th:text="${tecnico.nombre+ ' ' + tecnico.apellido}"></span>)?</p>
            <form method="post">
                <div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit" value="Eliminar" class="form-button"/>
                </div>
                <div>
                    <a th:href="@{/tecnicos}" title="Volver">Volver...</a>
                </div>
            </form>
        </th:block>
    </body>
</html>